Source: ismrmrd
Priority: optional
Maintainer: Kristoffer Langeland Knudsen <kristofferlknudsen@gradientsoftware.net>
Build-Depends: debhelper (>= 9), cmake, libhdf5-dev, libpugixml-dev, libboost-all-dev, libfftw3-dev
Standards-Version: 4.5.0
Section: libs
Homepage: https://github.com/ismrmrd/ismrmrd

Package: libismrmrd
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ISMRM Raw Data Format.

Package: libismrmrd-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libismrmrd (= ${binary:Version}), ${misc:Depends}
Description: ISMRM Raw Data Format development files.

Package: libismrmrd-matlab
Section: libs
Architecture: all
Depends: ${misc:Depends}
Description: ISMRM Raw Data Format Matlab development files.

Package: ismrmrd-misc
Section: science
Architecture: any
Multi-Arch: same
Depends: libismrmrd (= ${binary:Version}), ${misc:Depends}
Description: Misc executables included in the ismrmrd repository.

