name: RPKG

on:
  push:
    branches:
      - master
  
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    
    container:
      image: fedora:latest
    steps:
    - name: Install dependencies
      run: sudo dnf install rpkg git dnf-plugins-core -y

    - uses: actions/checkout@v2
    - name: Run RPKG 
      run: |
        cd "$GITHUB_WORKSPACE" 
        rpkg spec --outdir ./
        sudo dnf builddep -y ismrmrd.spec
        rm ismrmrd.spec
        rpkg local 
